# .gitignore - Helm Charts

###> general/editors ###

# IntelliJ IDEA
.idea/*

# VS Code
.vscode/*
###>

###> general/secret ###

# secrets
secrets/*

# Vault data
data/*
!data/.gitkeep
###>

###> source/helm-charts ###

# Helm Subcharts
*.tgz
Chart.lock
###>

###> source/tests ###

# Tests
*.test

# Coverage tool output
*.out
###>

###> source/temp ###

# distribution
dist/*
build/*
###>
